# Bluehost/cPanel

.well-known/
cgi-bin/
perl5/
access-logs/
error_log
.htpasswd
.htaccess*
website_*

# General Sec
.env
.env.local
.env.*.local
config.php
wp-config.php

# OS Metadata
.DS_Store
Thumbs.db
ethumbs.db
